# Browsers
vivaldi/
mozilla/
zen/
BeeperTexts/

# System/runtime
dconf/
pulse/
cosmic/

# Editors (heavy data)
Code - OSS/
VSCodium/

# Misc
go/
nautilus/
qalculate/
dotfiles/

# Niri
niri/cfg
niri/*.backup*
niri/dms/outputs.kdl

# DMS
DankMaterialShell/plugins/.repos/
DankMaterialShell/plugins/dankGifSearch
DankMaterialShell/plugins/calculator/test_*.js
DankMaterialShell/plugins/calculator/agent_specs/
