/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #2e5e59 !important;
  --toolbarbutton-icon-fill: #94e2d5 !important;
  --toolbar-field-color: #cdd6f4 !important;
  --tab-selected-textcolor: #94e2d5 !important;
  --toolbar-color: #cdd6f4 !important;
  --arrowpanel-color: #cdd6f4 !important;
  --arrowpanel-background: #1e1e2e !important;
  --sidebar-text-color: #cdd6f4 !important;
  --zen-main-browser-background: #1e1e2e !important;
}

.sidebar-placesTree {
  background-color: #1e1e2e !important;
}

#zen-workspaces-button {
  background-color: #1e1e2e !important;
}

#TabsToolbar {
  background-color: #1e1e2e !important;
}

.urlbar-background {
  background-color: #1e1e2e !important;
}

.urlbar-input::selection {
  color: #1e1e2e !important;
  background-color: #94e2d5 !important;
}

.urlbarView-url {
  color: #a6adc8 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #94e2d5
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #aff8ec !important;
  --identity-icon-color: #aff8ec !important;
}

.identity-color-turquoise {
  --identity-tab-color: #94e2d5 !important;
  --identity-icon-color: #94e2d5 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffab !important;
  --identity-icon-color: #a5ffab !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff7a5 !important;
  --identity-icon-color: #fff7a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff372 !important;
  --identity-icon-color: #fff372 !important;
}

.identity-color-red {
  --identity-tab-color: #ffbf9f !important;
  --identity-icon-color: #ffbf9f !important;
}

.identity-color-pink {
  --identity-tab-color: #c1fff4 !important;
  --identity-icon-color: #c1fff4 !important;
}

.identity-color-purple {
  --identity-tab-color: #26685d !important;
  --identity-icon-color: #26685d !important;
}

#zen-appcontent-navbar-container {
  background-color: #1e1e2e !important;
}
